!.keep
*.DS_Store
*.swo
*.swp
/.bundle
/.env.local
/config/database.yml
/coverage/*
/db/*.sqlite3
/log/*
/public/system
/public/assets
/tags
/tmp/*
.env
/.yardoc
/doc

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
