<% provide(:title, "#{@draw.name} - Suites") %>
<h1 class="draw-name"><%= @draw.name %> - Suites</h1>
<%= render 'suites/summary', sizes: @all_sizes, suites: @suites_by_size, label_method: :name %>
<hr />
<% if policy(DrawSuite.new(draw: @draw)).edit_collection? %>
  <p><%= link_to 'Edit suites', edit_collection_draw_suites_path(@draw), class: 'button' %></p>
<% end %>
<%= link_to 'Return to draw', draw_path(@draw) %>
