<nav class="site-nav" role="navigation">
  <div class="container site-nav__container">
    <div class="column--12">
      <% link_to '/index.html', class: 'site-nav__logo' do %>
        <span class="site-nav__logo__text">Vesta Docs</span>
      <% end %>
      <div class="site-nav__section">
        <%= link_to 'For Students', 'https://docs.google.com/document/d/1sMQw1cSBYMQ3kJ8qVfmlUeNr4W2ojYlGyxnmZVZkFvM', class: 'site-nav__link' %>
        <%= link_to 'For Admins', 'https://docs.google.com/document/d/1K1Z2U35lFP0UnlRtiLz3-S1GCJudDdLIJrsJ1E-cpzk', class: 'site-nav__link' %>
      </div>
    </div>
  </div>
</nav>
