<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <%= f.select(field.attribute, nil, {}, multiple: true) do %>
    <%= options_for_select(field.permitted_values, field.current_values) %>
  <% end %>
</div>
