<h1 id="top">Users</h1>
<p><a href="#admins">Admins</a> / <a href="#reps">Housing Committee</a> / <a href="#students">Students</a></p>
<h3 id="admins">Admins</h3>
<% if @users.has_key? 'admin' %>
  <%= render 'table', users: @users['admin'] %>
<% else %>
  <p>No admins!</p>
<% end %>

<h3 id="reps">Housing Committee</h3>
<p><a href="#top">Back to top</a></p>
<% if @users.has_key? 'rep' %>
  <%= render 'table', users: @users['rep'] %>
<% else %>
  <p>No housing committee members!</p>
<% end %>

<h3 id="students">Students</h3>
<p><a href="#top">Back to top</a></p>
<% if @users.has_key? 'student' %>
  <%= render 'table', users: @users['student'] %>
<% else %>
  <p>No regular students!</p>
<% end %>
