<h1 class="report-title"><%= @draw.name %> Intent Report</h1>
<table id="intent-table" data-src="<%= @report_src %>">
  <thead>
    <tr>
      <td>Last Name</td>
      <td>First Name</td>
      <td>Intent</td>
      <td>Edit</td>
    </tr>
  </thead>
</table>
