<% provide(:title, "#{@draw.name} - Results") %>
<h1><%= @draw.name %> - Results</h1>
<%= render partial: 'results/suites_table', locals: { suites: @suites_with_results } %>
<%= link_to 'Back to draw', draw_path(@draw) %>
