<% provide(:title, "#{@draw.name} - Suites") %>
<h1 class="draw-name"><%= @draw.name %> - Suites</h1>
<%= render 'suites/summary', sizes: @all_sizes, suites: @suites_by_size %>
<hr />
<% if policy(@draw).suites_edit? %>
  <p><%= link_to 'Edit suites', suites_edit_draw_path(@draw), class: 'button' %></p>
<% end %>
<%= link_to 'Return to draw', draw_path(@draw) %>
