<% provide(:title, 'All Buildings') %>
<h1>All Buildings</h1>
<% @buildings.each do |building| %>
  <div><%= render partial: 'summary_table', locals: { suites_by_size: @suites_by_size, building: building } %></div>
<% end %>
<hr />
<% if policy(Building).new? %>
  <%= link_to 'Add new building', new_building_path, class: 'button secondary' %>
<% end %>


