<% provide(:title, "Edit Room #{@room.number}") %>
<h1>Edit Room <%= @room.number %></h1>
<%= render "form", room: @room %>
<%= link_to 'Cancel', building_suite_room_path(@room.suite.building, @room.suite, @room) %>
