<h2 class="h5">Intent</h2>
<ul class="no-bullet">
<li><%= draw.intent_metrics['on_campus'] %> on campus students</li>
<li><%= draw.intent_metrics['undeclared'] %> undeclared students</li>
<li><%= draw.intent_metrics['off_campus'] %> off campus students</li>
</ul>
