<p>Hi <%= @user.name %>,</p>
<p>Your housing group has been disbanded, either by your leader or an admin.
Please e-mail <%= admin_mail_link(@college) %> if you have any questions.</p>
<p>Sincerely,<br /><%= @college.dean %></p>
