<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.name %>,</p>
    <p>Your housing group is now locked. Please e-mail <%= @college.admin_email %> if you need to make any changes.</p>
    <p>Sincerely,<br /><%= @college.dean %></p>
  </body>
</html>
