<p>Hi <%= @user.name %>,</p>
<p>This is a reminder that you should submit your housing intent by <%= @intent_date %>. Please e-mail <%= admin_mail_link(@college) %> if you have any questions.</p>
<p>Sincerely,<br /><%= @college.dean %></p>
