<p>Hi <%= @user.name %>,</p>
<p>This is a reminder to lock your group by <%= @locking_date %>, or it will be locked for you. Please e-mail <%= admin_mail_link(@college) %> if you have any questions.</p>
<p>Sincerely,<br /><%= @college.dean %></p>
