.suites-list {
  @include grid-row;

  .suite-item {
    @include grid-column(12);

    @include breakpoint(medium) {
      @include grid-column(4);
      @include grid-column-end;
    }
  }
}

.suites-fields-section {
  label { display: inline-block; }
  .toggle-links {
    font-size: 0.8em;
  }

  div { margin-bottom: 0.5em; }
}
