@import "draws_suite_summary";
@import "draws_student_summary";
@import "draws_lottery";

.oversub-report {
  .positive { background-color: lighten(#5F712D, 50%); }
  .negative { background-color: lighten($alert-color, 53%); }
  .zero { background-color: lighten($success-color, 72%); }
}

.group-report {
  td[data-role="group-leader"] {
    width: 35%;
  }
  td[data-role="group-status"] {
    width: 20%;
  }
  td[data-role="group-transfers"] {
    width: 10%;
  }
  td[data-role="group-actions"] {
    width: 35%;
    text-align: center;
    a.button { margin: 0 }
  }

  .group-size-header {
    &.zero {
      font-weight: bold;
      color: $success-color;
    }
    &.negative {
      font-weight: bold;
      color: $alert-color;
    }
  }
}
