table.lottery-forms-table {
  border-collapse: collapse;

  tbody { border: none; }

  .lottery-form {
    border-bottom-width: 2px;

    &.success { background-color: lighten($success-color, 72%); }
    &.notice { background-color: lighten($success-color, 72%); }
    &.failure { background-color: lighten($alert-color, 53%); }
    &.error { background-color: lighten($alert-color, 53%); }

    th { width: 50%; }
    td { width: 50%; }
  }
}
