.inline-checkbox {
  display: inline-block;
  width: 20%;
  word-wrap: break-word;
}

/* Mobile responsiveness breakpoint */
@media only screen and (max-width: 720px) {
  .inline-checkbox {
    width: 100%;
  }
}
