.users-table {
  td[data-role="user-last_name"] { width: 15%; }
  td[data-role="user-first_name"] { width: 15%; }
  td[data-role="user-username"] { width: 10%; }
  td[data-role="user-actions"] {
    text-align: right;
  }
}
