<footer class="row">
  <span>&copy; 2017 Yale University</span>
  <span style="float: right;">Need help? <%= link_to 'Contact the developer team', 'mailto:vesta-support@yale.edu' %>.</span>
</footer>
