<ul class="dropdown menu" data-dropdown-menu>
  <% if current_user.draw && policy(current_user.draw).show? %>
    <li><%= link_to 'My Draw', draw_path(current_user.draw) %></li>
  <% end %>
  <% if policy(current_user).edit_intent? %>
    <li><%= link_to 'Update Housing Intent', edit_intent_user_path(current_user) %></li>
  <% end %>
  <% if current_user.group %>
    <li><%= link_to 'My Group', draw_group_path(current_user.draw, current_user.group) %></li>
  <% elsif policy(Group).new? %>
    <li><%= link_to 'Create Housing Group', new_draw_group_path(current_user.draw) %></li>
  <% end %>
  <!-- eventually add: select a suite / view my suite -->
</ul>
