<% provide(:title, 'Terms of Service for Vesta') %>
<h1>Vesta Terms of Service</h1>

<p> IMPORTANT: Your participation in the housing process becomes binding once you accept a room as a result of the draw.  At that point you have entered into a contract with Yale and are subject to any and all fees should you choose to relinquish that space, per the undergraduate regulations.  If you withdraw from the housing process prior to accepting a room as a result of the draw, other penalties may apply per the <%= College.current.name %> Housing Rules. Please be sure to review the undergraduate regulations as well as the <%= College.current.name %> Housing Rules prior to entering the housing process.</p>

<p>Privacy Notice: All information entered in Vesta will be stored and maintained on the <a href=https://www.heroku.com/>Heroku Platform</a>, which is operated by <a href=https://www.salesforce.com/>Salesforce.com</a>, a third-party service provider. In addition to the <a href=https://www.yale.edu/privacy-policy>Yale University Privacy Policy</a>, <a href=https://www.salesforce.com/company/privacy/>the Privacy Statement</a> and <a href =https://www.heroku.com/policy/salesforce-heroku-msa>Terms of Service</a> governing use of Heroku services may apply to your use of, and the information you submit to, the Vesta application. If you do not agree with these terms and conditions, please do not use Vesta and contact your Dean immediately. </p>

<% if policy(:terms_of_service).accept? %>
  <%= link_to 'Accept Terms of Service', accept_terms_of_service_path, method: :patch, class: 'button'%>
<% end %>
